* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #1e172f;
  color: white;
  height: 58px;

}

.navbar .logo {
  font-weight: bold;
}

.nav-links a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

.nav-links .btn-primary {
  background-color: #6c63ff;
  background: linear-gradient(to right, rgb(121, 71, 213), rgb(16,121,213));
  background-size: cover;
  webkit-background-clip: text;
  webkit-text-fill-color: transparent;
  padding: 8px 16px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.hero {
  display: flex;
  align-items: center;
  background-color: #2e2550;
  color: white;
  height: 600px;
  width: 970px;
  padding-bottom: 5px;
  padding-top: 1px;

}

.hero-content {
  flex: 1;
  margin-left: 300px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.hero-content .boton{
  background-color: #2e2550;
  width: 382px;
  border: 2px solid rgb(104, 104, 104);
  border-radius: 5px;

}

.hero-content button{
margin: 5px;
width: 150px;
height: 60px;
border: 2px solid white;
cursor: pointer;
border-radius: 5px;
color: #ffffff;
background-color: #2e2550;

}

.hero-content .boton1{
  width: 200px;
  height: 60px;
  background-color: #ffffff;
  color: #ff07b5;

}

.hero-content .btn {
  display: flex;
  margin-right: 15px;
  color: rgb(189, 35, 35);
}

.hero-image .img {
  display: flex;
  flex-direction: column;
  width: 939px;
  height: 600px;
  margin-top: 29px;
  margin-left: 284px;
}
.hero-image .img1 {
  margin-top: -500px;
  margin-left: 550px;
  right: 180px;
  width: 240px;
  margin-bottom: 50px;
}

.features {
  text-align: center;
  padding: 60px 10%;
  background-color: white;
  align-items: center;
}

.features h2 {
  font-size: 2rem;
  color: #f72585;
  margin-bottom: 30px;
}

.feature-item h3 {
  color: #d3377d;
  margin-bottom: 15px;
  font-size: 50px;
}

.feature-item{
  margin-top: -450px;
  margin-left: 250px;
}

.feature-item p {
  max-width: 540px;
  font-size: 26px;
  text-align: left;
  margin-left: 555px;
}

.feature-item ul {
  list-style: none;
  margin-top: 50px;
  text-align: left;
  margin-left: 560px;
}

.feature-item ul{
  margin-bottom: 5px;
  color: #555;
}

.l1{
  color: #f72585;
}

.a{
  color: #f72585;
  font-weight: bold;
  font-size: 20px;
}

.img2{
  margin-right: 800px;
  width: 700px;
  top: 50px;
  left: 30px;
}

.pricing {
  background-color: #1e172f;
  color: white;
  padding: 60px 10%;
  text-align: center;
  padding-bottom: 100px;
}

.pricing h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.pricing p {
  max-width: 600px;
  margin: 0 auto 40px;
}

.pricing-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.spanrosa{
  color: #f72585;
}

.card {
  background-color: white;
  color: #333;
  border-radius: 10px;
  padding: 30px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  text-align: center;
}

.card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1.8rem;
  color: #6961ff;
  margin-bottom: 20px;
}

.card span {
  font-size: 0.9rem;
  color: #777;
}

.card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.card ul li {
  margin-bottom: 10px;
}

.card .btn-primary {
  background-color: #1f103f;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

.card .btn-primary:hover{
  background: linear-gradient(to right, rgb(236, 94, 167), rgb(243,33,140));
  color: white;

}

footer {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  color: #aaa;
  align-items: center;
  padding: 30px 8%;
  font-size: 16px;
  flex-wrap: wrap;
}

footer .social-icons img {
  width: 20px;
  justify-content: space-evenly;
}

.span{
  color: #f72585;
}